<html>
    <head>
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <style>
    body {
  background-color: lightblue;
}
    p {
font-size: 25px;
}
    </style>
    <body>
      <center><h1>Milo's Treats</h1></center>
      <div class="event-list">
      <div class = "b" >
        <a href="/homepage">
          <img src="https://image.flaticon.com/icons/svg/61/61689.svg" alt="home button"
          style="width:70px;height:70px;border:0">
        <a href="/cart">
          <img src="https://image.flaticon.com/icons/png/512/34/34627.png" alt="shopping cart"
          style="width:70px;height:70px;border:0">
        </a>
        <br>
        <a href="/homepage">Home Page</a>
        <a href="/cart">Shopping <br> Cart</a>
      </div>
      <div>
        <a href="/info">
          <img src="https://img.chewy.com/is/image/catalog/144969_MAIN._SY630_V1551971519_.jpg" alt="PC birthday"
          style="width:200px;height:200px;border:0">
        </a>
        <p> Pooch creamery <br> Birthday Cake </p>
        <a href="/info">
          <img src="https://img.chewy.com/is/image/catalog/144965_MAIN._AC_SL400_V1551971519_.jpg" alt="PC birthday"
          style="width:200px;height:200px;border:0">
        </a>
        <p> Pooch creamery <br> Peanut Butter </p>
        <a href="/info">
          <img src="https://s7d2.scene7.com/is/image/PetSmart/5266488?$pdp-placeholder-desktop$" alt="PC birthday"
          style="width:200px;height:200px;border:0">
        </a>
        <p> The Lazy Dog <br> Birthday Cake Bites </p>
        <a href="/info">
          <img src="https://s7d2.scene7.com/is/image/PetSmart/5280571?$pdp-placeholder-desktop$" alt="PC birthday"
          style="width:200px;height:200px;border:0">
        </a>
        <p> The Lazy Dog <br> Blueberry and Peanut Butter </p>
        <a href="/info">
          <img src="https://img.chewy.com/is/image/catalog/120641_MAIN._AC_SL1500_V1493232281_.jpg" alt="PC birthday"
          style="width:200px;height:200px;border:0">
        </a>
        <p> The Lazy Dog <br> The orginial Pup-Pie </p>


      </div>

    </body>
</html>
