<html>
    <head>
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <style>
    body {
  background-color: lightblue;
}
    p {
font-size: 25px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
    </style>
    <body>
      <center><h1>Milo's Treats</h1></center>
      <div class="event-list">
      <div class = "b" >
        <a href="/homepage">
          <img src="https://image.flaticon.com/icons/svg/61/61689.svg" alt="home button"
          style="width:70px;height:70px;border:0">
        <a href="/shopping cart">
          <img src="https://image.flaticon.com/icons/png/512/34/34627.png" alt="shopping cart"
          style="width:70px;height:70px;border:0">
        </a>
        <br>
        <a href="/homepage">Home Page</a>
        <a href="/shoppingcart2">Shopping <br> Cart</a>
      </div>
      <div>
        <form action="/filter" method = "post">
        <div class="grid-container">
          <!-- extensibility, makes code less hard for future uses -->
          <!-- at first I hardcoded all the info but by changing it from hardcode to event.(name in mongo) it's easier -->
        {% for event in events %}
          <div class="grid-item"><input type="radio" name="product" value= {{ event._id }}>
          <label for= {{ event._id }}><a href="/info">
            <img src= {{ event.image }} alt="PC birthday"
            style="width:200px;height:200px;border:0">
          </a>
          <p> {{ event.event_name }}</p></label><br></div>
          {% endfor %}
          <br>
          <br>
          <input type="submit" value="Interested?">



      </div>

    </body>
</html>
