<html>
    <head>
      <link rel="stylesheet" href="/../static/style.css">
      <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    </head>
    <style>
    body {
  background-color: lightblue;
}
p {
  font-size: 30px;
}
    </style>
    <body>
      <center><h1>Milo's Treats</h1></center>
      <div class="event-list">
      <div class = "b" >
        <a href="/homepage">
          <img src="https://image.flaticon.com/icons/svg/61/61689.svg" alt="home button"
          style="width:70px;height:70px;border:0">
        <a href="/cart">
          <img src="https://image.flaticon.com/icons/png/512/34/34627.png" alt="shopping cart"
          style="width:70px;height:70px;border:0">
        </a>
        <br>
        <a href="/homepage">Home Page</a>
        <a href="/cart">Shopping <br> Cart</a>
      </div>
      <div>
        <center><p>
          Hi, welcome to Milo's Treats! I am a Junior in High School and this is my company. <br> The purpose of my company is to sell dog treats espeacially for dogs who have a sensitive stomach.
          <br>
            <!-- <a href="/login">Click here</a>
            to become a member and to subscribe so that we can remember your purcahse history!!
            <br>
            or <a href="/signup">sign up here</a> to become a member.  -->
        </center></p>
      </div>
    </body>
</html>
