<html>
    <head>
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <style>
    body {
  background-color: lightblue;
}
  .grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  padding: 10px;
}
  .grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
    </style>
    <body>
      <center><h1>Milo's Treats</h1></center>
      <div class="event-list">
      <div class = "b" >
        <a href="/homepage">
          <img src="https://image.flaticon.com/icons/svg/61/61689.svg" alt="home button"
          style="width:70px;height:70px;border:0">
        <a href="/shoppingcart">
          <img src="https://image.flaticon.com/icons/png/512/34/34627.png" alt="shopping cart"
          style="width:70px;height:70px;border:0">
        </a>
        <br>
        <a href="/homepage">Home Page</a>
        <a href="/shoppingcart2">Shopping <br> Cart</a>
      </div>
      <div>
        <div class="grid-container">
          {% for event in events %}
        <div class="grid-item"><img src={{ event.image }}
        alt="PC birthday" height="275" width="275"></div>
        <div class="grid-item"><form method = "post", action = "/shoppingcart">
          <ul>
              <input type = "radio" name = "product" value = {{ event._id }}>
            {{ event.event_name }} <br> Price: {{ event.event_price }} <br> Ingredients: {{ event.ingredients }} <br> Calories: {{ event.calorie }}
          </input>
             {% endfor %}
             <br>
             <input type="submit" value="Add to shopping cart"></input>
          </ul></div>
          <br>
          *Please click on the small button on the left side of the name of the product before clicking the "add to shopping cart" button
        </form>


      </div>

    </body>
</html>
