<html>
    <head>
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <style>
    body {
  background-color: lightblue;
}
  .grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  padding: 10px;
}
  .grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
    center {
      font-size: 30px;
}
    </style>
    <body>
      <center><h1>Milo's Treats</h1></center>
      <div class="event-list">
      <div class = "b" >
        <a href="/homepage">
          <img src="https://image.flaticon.com/icons/svg/61/61689.svg" alt="home button"
          style="width:70px;height:70px;border:0">
        </a>
        <a href="/shoppingcart">
          <img src="https://image.flaticon.com/icons/png/512/34/34627.png" alt="shopping cart"
          style="width:70px;height:70px;border:0">
        </a>
        <br>
        <a href="/homepage">Home Page</a>
        <a href="/shoppingcart2">Shopping <br> Cart</a>
      </div>
    </div>
      {% for event in events %}
        <div class="grid-container">
        <div class="grid-item"><img src="{{ event[0].image }}"
        alt="PC birthday" height="275" width="275"></div>
        <div class="grid-item">
          <ul>
              <input type = "radio" name = "product" value = {{ event._id }}>
            {{ event[0].event_name }} <br> Price: {{ event[0].event_price }} <br> Ingredients: {{ event[0].ingredients }} <br> Calories: {{ event[0].calorie }}
          </ul>
        </div>
      </div>
      {% endfor %}

      <center><a href="/buy">Buy</a> / <a href="/delete_event">Delete</a></center>

      <!-- ask if i can submit a form without having any radio buttons but use the info that was stored in the shooping cart before -->



    </body>
</html>
