<html>
    <head>
      <link rel="stylesheet" href="/../static/style.css">
    </head>
    <style>
    body {
  background-color: lightblue;
}
    </style>
    <body>
      <center><h1>Milo's Treats</h1></center>
      <div class="event-list">
      <div class = "b" >
        <a href="/homepage">
          <img src="https://image.flaticon.com/icons/svg/61/61689.svg" alt="home button"
          style="width:70px;height:70px;border:0">
        <a href="/cart">
          <img src="https://image.flaticon.com/icons/png/512/34/34627.png" alt="shopping cart"
          style="width:70px;height:70px;border:0">
        </a>
        <br>
        <a href="/homepage">Home Page</a>
        <a href="/cart">Shopping <br> Cart</a>
      </div>
      <div>
        <ul>
          {% for event in events %}
            <li>{{ event.name }} - {{ event.age}} : {{ event.problem }}, {{ event.hw }}, {{ event.breed }}, {{ event.email }}</li>
          {% endfor %}
        </ul>
    <form method = "post" action = "/signup">
    <p>What is your name?</p>
    <input type = "text" name = "name"/>
    <br>
    <p>What is the age of your dog?</p>
    <input type = "text" name = "age"/>

    <p>What kind of problem does your dog have?</p>
    <input type = "text" name = "problem" <br>

    <p>Height and weight of dog?</p>
    <input type = "text" name = "hw" <br>
    <br>
    <p>Breed of dog?</p>
    <input type = "text" name = "breed"
    <br>
    <p>What is your email?</p>
    <input type = "text" name = "email"
    <br>
    <p>What is your password?</p>
    <input type = "password" name = "password"
    <br>
    <input type="submit" value="Submit">


    <!-- HIIIIIIII WELCOMES TO SIGNIN PAGE HELP!!! basically its like an input events route but slightly diff
  on the route, make it like input event but under collections for mongo change name to information and then idk cause its confusion!!!!!!!!!!! -->

    </form>

      </div>
    </body>
</html>
